<%= link_to image_tag('new-report.png'), new_report_path %>

<%= render 'map' %>

<div id="show_raw_data_btn">Raw data</div>

<div id="raw_data">

<h1>Listing reports</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Lon</th>
    <th>Comment</th>
    <th>Good/Bad</th>
    <th>Datetime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.lat %></td>
    <td><%= report.lon %></td>
    <td><%= report.comment %></td>
    <td><%= report.good ? "Good" : "Bad" %></td>
    <td><%= report.datetime || report.updated_at || report.created_at %></td>
    <td><%= link_to 'Show', report %></td>
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
    <td><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

</div>
