<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @report.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @report.lon %>
</p>

<p>
  <b>Comment:</b>
  <%= @report.comment %>
</p>

<p>
  <b>Datetime:</b>
  <%= @report.datetime || @report.updated_at || @report.created_at %>
</p>


<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
